@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v16/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup6hNX6plRP.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body {
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #171717;
}
.github {
    background-color: #ffffff;
    border-radius: 100%;
}
.logos {
    text-align: center;
    padding: 10px 0;
}
.logos > * {
    margin: 0 2.5px;
    width: 10%;
}
.logos a {
    display: inline-block;
    width: 2.5vw;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
img {
    max-width: 100%;
}
nav {
    background-color: #171717;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    padding-top: 1px;
    text-align: center;
    z-index: 1;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    color: #ffffff;
    margin: 0 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.nav a:hover {
    color: #3c89d0;
}
header {
    color: #ffffff;
    background-image: url('Mtn-bg.jpeg');
    width: 100vw;
    height: 82vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: table-cell;
    vertical-align: bottom;
}
.name h1 {
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}
.name {
    margin: 0 20px 2px;
}
.dev {
    font-size: 25px;
    margin-bottom: 50px;
}
.showcase-info {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.showcase-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.showcase-img img {
    display: flex;
    width: 50%;
    align-self: center;
    margin: 0 auto;
}
.overlay {
    position: relative;
}
.showcase-overlay {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.showcase-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.showcase-overlay:hover {
    opacity: 1;
}
.showcase-overlay:hover > * {
    transform: translateY(0);
}
.showcase-title {
    font-size: 2em;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10rem 1rem;
}
.contact-img {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 25%;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 25%;
    height: 25%;
    font-size: 20px;
}
.contact-body {
    text-align: center;
}
.make-my-life-easier {
    align-self: center;
    width: 20%;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10rem 1rem;
    font-size: 20px;
}
.about-img {
    display: flex;
    align-self: center;
    width: 25%;
}
.about-me {
    align-self: center;
    height: 25%;
    width: 70%;
    line-height: 1.2;
}
.projects-info {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.projects-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}
.projects-img img {
    width: 50%;
    align-self: center;
}
.wordpress-img .press-array {
    width: 35%;
}
.press-load {
    margin-bottom: 2rem;
}
@media screen and (min-width: 1080px) {
    .projects {
        margin-top: 5rem;
    }
}
@media screen and (max-width: 992px) {
header {
    height: 45vh;
}
.about {
    font-size: 16px;
}
.contact {
    margin-top: 18rem;
}
}