.about {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100vh;
}
.about .about-me {
  margin-left: 50px;
}
.about img {
  max-width: 500px;
}

@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v16/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup6hNX6plRP.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container {
  margin: 50px 0;
  max-width: 1400px;
  padding: 0 35px;
}

.main > .container {
  margin: 50px auto;
}

.contact {
  align-items: center;
  background: url("/img/Contact-bg.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}
.contact .contact-form {
  color: #fff;
  position: relative;
}

@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v16/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup6hNX6plRP.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.banner {
  background: url(/img/Mtn-bg.jpeg) no-repeat top center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  justify-content: flex-end;
  min-height: 500px;
  position: relative;
}
.banner > .container {
  position: relative;
  z-index: 2;
}
.banner h1 {
  font-family: "Dancing Script", cursive;
  margin: 0;
}
.banner > .overlay {
  z-index: 1;
}

.overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  text-align: center;
}

.showcase .showcase-item {
  height: fit-content;
}
.showcase .showcase-item.item-1 > a:after {
  content: "WordPress";
}
.showcase .showcase-item.item-2 > a:after {
  content: "Netflix Clone";
}
.showcase .showcase-item.item-3 > a:after {
  content: "API Beer App";
}
.showcase .showcase-item.item-4 > a:after {
  content: "E-comm SPA";
}
.showcase .showcase-item > a {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.showcase .showcase-item > a:before {
  background: #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 0.3s opacity ease-out;
  width: 100%;
}
.showcase .showcase-item > a:after {
  color: #fff;
  display: block;
  font-size: 30px;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: 0.3s opacity ease-out;
}
.showcase .showcase-item > a img {
  height: 570px;
  max-width: 1400px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.showcase .showcase-item:hover > a:before {
  opacity: 0.5;
  transition: 0.3s opacity ease-in;
}
.showcase .showcase-item:hover > a:after {
  opacity: 1;
  transition: 0.3s opacity ease-in;
}
.showcase .slick-arrow {
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  top: 250px;
  width: 40px;
  z-index: 999;
}
.showcase .slick-arrow:after {
  align-items: center;
  background: #fff;
  border-radius: 100%;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family: "FontAwesome";
  font-size: 20px;
  height: 40px;
  justify-content: center;
  position: absolute;
  width: 40px;
}
.showcase .slick-arrow:hover:after {
  background: #000;
  color: #fff;
}
.showcase .slick-arrow.slick-prev {
  left: 20px;
}
.showcase .slick-arrow.slick-prev:after {
  content: "\f060";
}
.showcase .slick-arrow.slick-next {
  right: 20px;
}
.showcase .slick-arrow.slick-next:after {
  content: "\f061";
}

@keyframes rotateMenuDown {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
footer {
  align-items: center;
  background: #171717;
  display: flex;
  height: 70px;
  justify-content: center;
}
footer .logos {
  display: flex;
  justify-content: center;
}
footer .logos a {
  align-items: center;
  display: flex;
  text-decoration: none;
}
footer .logos a:hover i {
  color: #87ceeb;
}
footer .logos a:first-child {
  margin-right: 10px;
}
footer .logos a i {
  color: #fff;
  font-size: 45px;
}

header {
  background: #171717;
  height: 70px;
}
header nav {
  background: #171717;
  position: fixed;
  width: 100%;
  z-index: 999;
}
header nav .nav {
  align-items: center;
  display: flex;
  font-size: 16px;
  height: 70px;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  max-width: 400px;
  padding: 0;
}
header nav .nav a {
  color: #fff;
  text-decoration: none;
}
header nav .nav li {
  position: relative;
}
header nav .nav li:not(.has-subnav):hover > a {
  color: #87ceeb;
}
header nav .nav li .subnav {
  background: #171717;
  display: none;
  list-style: none;
  margin-left: -30px;
  padding: 30px;
  position: absolute;
}
header nav .nav li .subnav > li {
  margin-bottom: 10px;
}
header nav .nav li.has-subnav:after {
  border-left: #fff 2px solid;
  border-bottom: #fff 2px solid;
  content: "";
  height: 8px;
  margin: 2px -17px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(-45deg);
  transition: 0.3s transform ease-out;
  width: 8px;
}
header nav .nav li.has-subnav:hover:after {
  margin-top: 5px;
  transform: rotate(135deg);
  transition: 0.3s transform ease-out;
}
header nav .nav li.has-subnav:hover .subnav {
  animation: rotateMenuDown 400ms ease-in-out forwards;
  display: block;
  transform-origin: top center;
}
